#credentials {
  width: 80%;
  height: 50%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-flow: column nowrap;
  padding: 0;
  margin: 0;
}

.credentialLine {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
}

.credentialItem {
  display: inline-block;
  color: white;
  font-family: "Courier New", Courier, monospace;
  width: 45%;
  margin-bottom: 1%;
  font-size: 2vh;
}
