#centerClass {
  height: 90vh;
  width: 85vw;
  background-color: rgba(66, 64, 64, 0.576);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  display: flex;
  flex-flow: row nowrap;
}

#logout {
  height: 8vh;
  width: 8vh;
  position: fixed;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  background-color: rgba(53, 53, 53, 0.779);
  border: none;
  cursor: pointer;
}

#logOutImg {
  width: 5vh;
  cursor: pointer;
}

#agentInfo {
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#objectiveList {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  width: 60%;
}
